@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
  --violet: hsl(257, 40%, 49%);
  --sMagenta: hsl(300, 69%, 71%);
}
.*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--violet);
}

.bgimg{
  position: relative;
  margin: 2rem;
}
.bgimg img{
  size:250px;
}
.bgimg .logo{
  position: absolute;
  top:0;
   width:100%;
    height:99%;
    z-index: 999;
    border-radius: 2%;
}
.bgimg .im{
  position: absolute;
  top:100px;
  left: 25px;
   width:100%;
    height:99%;
    z-index: 999;
    border-radius: 2%;
}
.bgimg .ft{
  position: absolute;
  top:100px;
  left:850px;
  color: white;
  font-size: 25px;
}
.bgimg .ft h2{
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.bgimg .ft p{
  font-family: 'Open Sans', sans-serif;
}


.bgimg .btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #7735d4;
  font-size: 20px;
  background: #f9fbfc;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 5rem;
}

.bgimg .btn:hover {
  background: #b26bdb;
  background-image: -webkit-linear-gradient(top, #b26bdb, #af83cf);
  background-image: -moz-linear-gradient(top, #b26bdb, #af83cf);
  background-image: -ms-linear-gradient(top, #b26bdb, #af83cf);
  background-image: -o-linear-gradient(top, #b26bdb, #af83cf);
  background-image: linear-gradient(to bottom, #b26bdb, #af83cf);
  text-decoration: none;
}
.bgimg .fti{
  position: absolute;
  top:500px;
  left:1100px;
   width:100px;
    height:100px;
    z-index: 999;
    border-radius: 2%;
    margin-right: 20px;
}

.bgimg .fti ul{
  display: flex;
  width:100px;
   height:100px;
   list-style-type: none;
   padding: 2rem;
}

  .bgimg .fit li{
    display: flex;
    width:75px;
     height:100px;
     padding-right: 2rem;
  }















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
